body {
    background-image:url(/assets/imgs/henry-be-IicyiaPYGGI-unsplash.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: sans-serif;
}

.loginbox {
    width: 320px;
    height: 420px;
    background-color: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -10%;
    left: calc(50% - 50px);
    

}